{% extends "_email/base.html" %}

{% block title %}{% trans %}Você foi convidado para um thread privado{% endtrans %}{% endblock %}

{% block content %}
<p {{ style_p|safe }}>{% trans username=user.username, author=author.username, thread=thread.name %}{{ username }}, você está recebendo essa mensagem porque {{ author }} te convidou para participar do thread privado "{{ thread }}".{% endtrans %}</p>
<p {{ style_p|safe }}>{% trans %}Você pode ver o thread clicando no link abaixo:{% endtrans %}</p>
<a href="{{ board_address }}{{ url('private_thread', thread=thread.pk, slug=thread.slug) }}" {{ style_link|safe }}>{{ board_address }}{{ url('private_thread', thread=thread.pk, slug=thread.slug) }}</a>
{% endblock %}
