{% extends "_email/base.html" %}

{% block title %}{% trans %}Nova notificação de resposta{% endtrans %}{% endblock %}

{% block content %}
<p {{ style_p|safe }}>{% trans username=user.username, author=author.username, thread=thread.name %}{{ username }}, você está recebendo essa mensagem porque {{ author }} respondeu ao relatório "{{ thread }}" que você está assistindo.{% endtrans %}</p>
<p {{ style_p|safe }}>{% trans %}To go to this reply follow the link below:{% endtrans %}</p>
<a href="{{ board_address }}{{ url('report_find', thread=thread.pk, slug=thread.slug, post=post.pk) }}" {{ style_link|safe }}>{{ board_address }}{{ url('report_find', thread=thread.pk, slug=thread.slug, post=post.pk) }}</a>
{% endblock %}
