.site-banner{
		font-size: 10vw;
		color: white;
		text-align: center;
		vertical-align: middle;
		color: white;
		z-index: 2;
		position: relative;
	}
.jumbotron {

  height: 350px;
  color: white;
  background:transparent;
}
.site-nav{
	margin-bottom: 0px;
}

@media (max-width: 800px) {
	.site-banner{
		font-size: 10vw;
		color: white;
		text-align: center;
		vertical-align: middle;
		color: white;
		z-index: 2;
		position: relative;
	}
	.jumbotron {

		height: 250px;
		color: white;
		background:transparent;
	}
	.site-nav{
		margin-bottom: 0px;
	}
}
