{% extends "_email/base.html" %}

{% block title %}{% trans board_name=settings.board_name %}Bem vindo ao {{ board_name }}!{% endtrans %}{% endblock %}

{% block content %}
<p {{ style_p|safe }}>{% trans username=user.username %}{{ username }}, você está recebendo essa mensagem porque usou esse email para criar sua conta.{% endtrans %}</p>

<div {{ style_well|safe }}>
  <p {{ style_p|safe }}><b>{% trans %}Usuário{% endtrans %}:</b><br>{{ user.username }}</p>
  <p {{ style_p|safe }}><b>{% trans %}E-mail{% endtrans %}:</b><br>{{ user.email }}</p>{% if settings.password_in_email %}
  <p {{ style_p|safe }}><b>{% trans %}Senha{% endtrans %}:</b><br>{{ password }}</p>{% endif %}
</div>
{% if settings.password_in_email %}
<p {{ style_p|safe }}>{% trans %}This is only time you will receive your current password. For security reasons we don't store members passwords as they are entered on registration, instead we encrypt them in unreversible manner to keep them safe.{% endtrans %}</p>
{% endif %}
{% endblock %}
