{% extends "_email/base.html" %}

{% block title %}{% trans board_name=settings.board_name %}Ativação de conta em {{ board_name }}{% endtrans %}{% endblock %}

{% block content %}
<p {{ style_p|safe }}>{% trans username=user.username %}{{ username }}, você está recebendo esse email porque pediu um novo código de ativação.{% endtrans %}</p>
<p {{ style_p|safe }}>{% trans %}Para ativar sua conta, clique no link abaixo:{% endtrans %}</p>
<a href="{{ board_address }}{{ url('activate', username=user.username_slug, user=user.id, token=user.token) }}" {{ style_button|safe }}>{% trans %}Ative minha conta!{% endtrans %}</a>

<p {{ style_p|safe }}>{% trans %}Se o link acima não for clicável, copie e cole o texto abaixo em seu navegador:{% endtrans %}</p>
<a href="{{ board_address }}{{ url('activate', username=user.username_slug, user=user.id, token=user.token) }}" {{ style_link|safe }}>{{ board_address }}{{ url('activate', username=user.username_slug, user=user.id, token=user.token) }}</a>
{% endblock %}
