{% extends "_email/users/activation/none.html" %}

{% block content %}
{{ super() }}

<p {{ style_p|safe }}>{% trans %}Nós requerimos que nossos membros provem a posse de seus emails no ato de inscrição.{% endtrans %}</p>
<p {{ style_p|safe }}>{% trans %}Para confirmar a posse e ativar sua conta, clique no link abaixo:{% endtrans %}</p>
<a href="{{ board_address }}{{ url('activate', username=user.username_slug, user=user.id, token=user.token) }}" {{ style_button|safe }}>{% trans %}Ative minha conta!{% endtrans %}</a>

<p {{ style_p|safe }}>{% trans %}Se o link acima não for clicável, copie e cole o texto abaixo em seu navegador:{% endtrans %}</p>
<a href="{{ board_address }}{{ url('activate', username=user.username_slug, user=user.id, token=user.token) }}" {{ style_link|safe }}>{{ board_address }}{{ url('activate', username=user.username_slug, user=user.id, token=user.token) }}</a>
{% endblock %}
