{% extends "app/base.html" %}

{% block content %}

<div style="background: url('{{ STATIC_URL }}app/img/consu_banner.jpg') center center; background-size: cover">
    <div class="jumbotron header-filter">
        <h3 class="site-banner">
            Grandes poderes<br>
            Representantes maiores
        </h3>
    </div>
</div>

<div class="container marketing">

    <div class="row featurette">
        <div class="col-md-10 col-md-offset-1">
            <h2 class="featurette-heading">{{ texts.title_1 | safe }}</h2>
            <p class="lead">
            {{ texts.text_1 | safe }}
            </p>
        </div>
    </div>


    <hr class="featurette-divider">


    <div class="row featurette">
        <div class="col-md-10 col-md-offset-1">
            <h2 class="featurette-heading">{{ texts.title_2 | safe }}</h2>
            <p class="lead">
            {{ texts.text_2 | safe }}
            </p>
        </div>
    </div>

</div>

{% endblock content %}
