{% extends "app/base.html" %}
{% block content %}
<style>
.errorlist {
    font-size: 20px;
    list-style: none
}
</style>



<div style="background: url('{{ STATIC_URL }}app/img/{{ bg_prefix }}participe_banner{{ bg_suffix }}.jpg') center center; background-size: cover">
    <div class="jumbotron header-filter">
        <h3 class="site-banner">
            Alunos unidos<br>
            São mais fortes
        </h3>
    </div>
</div>

<div class="container marketing">



    <div class="row featurette">
        <div class="col-md-10 col-md-offset-1">
            <h2 class="featurette-heading">{{ texts.title_1 | safe}}</h2>
            <p class="lead">
            {{ texts.text_1 | safe }}
            </p>
        </div>
    </div>

    {% if not user.is_authenticated() %}
    <div class="row featurette">
        <div class="col-md-10 col-md-offset-1">
            <h2 class="featurette-heading">{{ texts.title_2 | safe}}</h2>
            <p class="lead">
            {{ texts.text_2 | safe }}
            </p>
        </div>
    </div>

    <div class="row featurette">
        <hr class="featurette-divider">
        {% if form.errors %}
        <h3 class="text-center"> Oops! Seu formulário contém erros: </h3>
        {% for key, value in form.errors.items() %}
        {% if key == "__all__" %}
        <div style="color: red" class="col-xs-4 col-xs-offset-4 text-center">{{ value | safe }}</div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <form action="{{ url('dac_submit') }}" class="text-center" method="post">
            {% csrf_token %}
            <div class="col-md-offset-2">
            {% for f in form %}
            <div class="col-md-5">
                <div style="color: red">{{ f.errors | safe }}</div>
                {% if f.name == "email" %}
                <div style="text-align:left;" class="form-group">
                {% else %}
                <div style="text-align:left;" class="form-group label-floating">
                {% endif %}
                    <label class="control-label">{{ f.label }}</label>
                    {% if f.name == "email" %}
                    <a tabindex="0" data-toggle="popover" role="button" data-trigger="focus" data-html="true" data-placement="top" title="Email da DAC?" data-content="Seu email da DAC é formado pela primeira letra do seu nome e seu RA, seguidos de @dac.unicamp.br <br> Você pode acessar seu email usando o <a href='https://webmail.dac.unicamp.br/horde/login.php' target='_blank'>Webmail DAC</a>">Ajuda!</a>
                    {% endif %}
                    {{ f | safe}}
                </div>
            </div>
            {% endfor %}
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-info btn-round" value="Criar conta" />
                <br>
                <i>Obs: Por conta da lentidão da DAC, pode levar até 10 min para você receber o email de verificação.<br>Pedimos desculpas por isso.</i>
            </div>
        </form>
    </div>
    {% endif %}

</div>


{% endblock content %}
