{% extends "app/base.html" %}

{% block content %}



<div style="background: url('{{ STATIC_URL }}app/img/propostas_banner{{ bg_suffix }}.jpg') center center; background-size: cover">
    <div class="jumbotron header-filter">
        <h3 class="site-banner">
            Somos o corpo<br>
            Você a mente
        </h3>
    </div>
</div>

<div class="container marketing">

    <div class="row featurette">
        <div class="col-md-10 col-md-offset-1">
            <h2 class="featurette-heading">{{ texts.title_1 | safe }}</h2>
            <p class="lead">
            {{ texts.text_1 | safe }}
            </p>
        </div>
    </div>


    <hr class="featurette-divider">
    <div class="row featurette">
    <ul class="col-md-6 col-md-offset-3">
        {% for promise in promises %}

                <li style="list-style: none"><h3>{{ promise.title }}</h3></li>
                <blockquote>{{ promise.text | safe }} </blockquote>
                <hr>
        {% endfor %}
    </ul>

    </div>

    <div class="row featurette">
        <div class="col-md-10 col-md-offset-1">
            <h2 class="featurette-heading">{{ texts.title_2 | safe }}</h2>
            <p class="lead">
            {{ texts.text_2 | safe }}
            </p>
        </div>
    </div>

</div>

{% endblock content %}
