{% extends "_email/base.html" %}

{% block title %}{% trans board_name=settings.board_name %}Confirmar alteração de senha em {{ board_name }}{% endtrans %}{% endblock %}

{% block content %}
<p {{ style_p|safe }}>{% trans username=user.username %}{{ username }}, você está recebendo essa mensagem porque pediu a alteração de sua senha.{% endtrans %}</p>
<p {{ style_p|safe }}>{% trans %}Para confirmar que deseja alterar sua senha, clique no link abaixo:{% endtrans %}</p>
<a href="{{ board_address }}{{ url('reset_password', username=user.username_slug, user=user.id, token=user.token) }}" {{ style_button|safe }}>{% trans %}Alterar minha senha{% endtrans %}</a>

<p {{ style_p|safe }}>{% trans %}Se o link acima não for clicável, copie e cole o texto abaixo em seu navegador:{% endtrans %}</p>
<a href="{{ board_address }}{{ url('reset_password', username=user.username_slug, user=user.id, token=user.token) }}" {{ style_link|safe }}>{{ board_address }}{{ url('reset_password', username=user.username_slug, user=user.id, token=user.token) }}</a>

<p {{ style_p|safe }}>{% trans %}Sua nova senha será enviada a você em uma outra mensagem, assim que você clicar no link.{% endtrans %}</p>

{% endblock %}
