{% extends "_email/base.html" %}

{% block title %}{% trans board_name=settings.board_name %}Sua nova senha em {{ board_name }}{% endtrans %}{% endblock %}

{% block content %}
<p {{ style_p|safe }}>{% trans username=user.username %}{{ username }}, você está recebendo essa mensagem porque pediu a alteração de sua senha.{% endtrans %}</p>
<p {{ style_p|safe }}>{% trans %}Sua nova senha:{% endtrans %}</p>
<div {{ style_well_big|safe }}>
  {{ password }}
</div>
<p {{ style_p|safe }}>{% trans %}Você pode entrar em sua conta usando sua nova senha pelo link abaixo:{% endtrans %}</p>
<a href="{{ board_address }}{{ url('sign_in') }}" {{ style_button|safe }}>{% trans %}Login{% endtrans %}</a>

<p {{ style_p|safe }}>{% trans %}Se o link acima não for clicável, copie e cole o texto abaixo em seu navegador:{% endtrans %}</p>
<a href="{{ board_address }}{{ url('sign_in') }}" {{ style_link|safe }}>{{ board_address }}{{ url('sign_in') }}</a>

<p {{ style_p|safe }}>{% trans %}Recomendamos que você altere sua nova senha usando seu <a href="{{ board_address }}/forum/usercp/credentials/">Painel de Controle</a>.<br>
Essa será a única vez que te enviaremos sua senha atual. Por segurança nós não guardamos senhas de usuários, encriptando-as de maneira irreversível para mantê-las seguras.{% endtrans %}</p>
<p {{ style_p|safe }}>{% trans %}{% endtrans %}</p>
{% endblock %}
