{% extends "_email/base.html" %}

{% block title %}{% trans board_name=settings.board_name %}Ativação de novas credenciais {{ board_name }}{% endtrans %}{% endblock %}

{% block content %}
<p {{ style_p|safe }}>{% trans username=user.username %}{{ username }}, você está recebendo essa mensagem porque alterou suas credenciais.{% endtrans %}</p>
<p {{ style_p|safe }}>{% trans %}Para confirmar que deseja alterar suas credenciais, clique no link abaixo:{% endtrans %}</p>
<a href="{{ board_address }}{{ url('usercp_credentials_activate', token=token) }}" {{ style_button|safe }}>{% trans %}Ativar credenciais{% endtrans %}</a>

<p {{ style_p|safe }}>{% trans %}If the above link is not clickable, copy and paste this link into your web browser's address bar:{% endtrans %}</p>
<a href="{{ board_address }}{{ url('usercp_credentials_activate', token=token) }}" {{ style_link|safe }}>{{ board_address }}{{ url('usercp_credentials_activate', token=token) }}</a>

{% endblock %}
